.card {
  border: 1px solid #ccc;
  border-radius: 25px;
  width: 300px;
  min-height: auto;
  padding: 10px;
  display: grid;
  font-family: "Helvetica", arial, sans-serif;
  line-height: 18px;
  grid-template-rows: 50px 50px 50px 50px;
  background-color: rgb(40,84,161);
}

.item {
  padding-top: 15px;
  color: rgb(255,255,255);
}

.bank-name {
  text-align: right;
  font-weight: bold;
  font-size: 25px;
  padding-right: 12px;
}

.card-number {
  text-align: center;
  font-size: 25px;
  letter-spacing: 2px;
}

.card-text {
  padding-left: 12px;
  font-size: 10px;
}

.name {
  padding-left: 12px;
  padding-top: 25px;
  font-size: 20px;
}

.expiration {
  display: flex;
  justify-content: center;
}

.expiration-date {
  letter-spacing: 2px;
  padding-left: 8px;
  padding-top: 10px;
}

.valid-thru {
  font-size: 9px;
  width: 30px;
}
